.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
    background-color: var(--color-primary-active);
  }

  &:hover {
    background-color: var(--color-primary-hover) !important;
  }

  &:active {
    background-color: var(--color-primary-pressed);
  }

  &:focus {
    background-color: var(--color-primary-active);
    box-shadow: 0px 0px 0px 3px var(--color-primary-blur);
  }

  &.disabled {
    background-color: var(--color-bg-button-disable) !important;
    cursor: not-allowed;

    .button-content {
      color: var(--color-text-disable) !important;

      svg {
        path {
          fill: var(--color-text-disable);
        }
      }
    }
  }
}

.btn--secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  .button-content {
    color: var(--color-primary);
    svg {
      path {
        fill: var(--color-primary);
      }
    }
  }
  &:visited {
    color: var(--color-primary-active);
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }

  &:hover {
    border: 1px solid var(--color-primary-pressed) !important;
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }

  &:active {
    border: 1px solid var(--color-primary-active) !important;
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px var(--color-primary-blur);
    border: 1px solid var(--color-primary-pressed) !important;
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }

  &.disabled {
    background-color: var(--color-bg-button-disable) !important;
    border: none !important;
    cursor: not-allowed;

    .button-content {
      color: var(--color-text-disable) !important;

      svg {
        path {
          fill: var(--color-text-disable);
        }
      }
    }
  }
}

.btn--tertiary {
  background-color: var(--color-white);
  color: var(--color-text-tertiary);
  border: 1px solid var(--color-secondary);
  .button-content {
    color: var(--color-text-tertiary);
    svg {
      path {
        fill: var(--color-text-tertiary);
      }
    }
  }
  &:visited {
    color: var(--color-primary-active);
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }

  &:hover {
    border: 1px solid var(--color-primary-pressed) !important;
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }

  &:active {
    border: 1px solid var(--color-primary-active) !important;
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px var(--color-primary-blur);
    border: 1px solid var(--color-primary-pressed) !important;
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }

  &.disabled {
    background-color: var(--color-bg-button-disable) !important;
    border: none !important;
    cursor: not-allowed;

    .button-content {
      color: var(--color-text-disable) !important;

      svg {
        path {
          fill: var(--color-text-disable);
        }
      }
    }
  }
}
.btn--text {
  background-color: var(--color-white);
  color: var(--color-primary);
  .button-content {
    color: var(--color-primary);
    svg {
      path {
        fill: var(--color-primary);
      }
    }
  }
  &:visited {
    color: var(--color-primary-active);
    .button-content {
      color: var(--color-primary-active);
      svg {
        path {
          fill: var(--color-primary-active);
        }
      }
    }
  }




  &:focus {
    box-shadow: 0px 0px 0px 3px var(--color-primary-blur);
    .button-content {
      color: var(--color-primary);
      svg {
        path {
          fill: var(--color-primary);
        }
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    .button-content {
      color: var(--color-text-disable) !important;

      svg {
        path {
          fill: var(--color-text-disable);
        } 
      }
    }
  }
}

.btn--danger {
  background-color: var(--color-critical);
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
    background-color: var(--color-critical-active);
  }

  &:hover {
    background-color: var(--color-critical-hover) !important;
  }

  &:active {
    background-color: var(--color-critical-pressed);
  }

  &:focus {
    background-color: var(--color-critical-active);
    box-shadow: 0px 0px 0px 3px var(--color-critical-blur);
  }

  &.disabled {
    background-color: var(--color-bg-button-disable) !important;
    cursor: not-allowed;

    .button-content {
      color: var(--color-text-disable) !important;

      svg {
        path {
          fill: var(--color-text-disable);
        }
      }
    }
  }
}


.btn-normal {
  .button-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .children-content {
      font-size: 14px;
      font-weight: 500 !important;
    }
  }
}

.btn--primary-loading {
  background-color: var(--color-primary-active);
  color: var(--color-white);
  cursor: not-allowed;
}

.btn--secondary-loading {
  background-color: var(--color-secondary-active);
  color: var(--color-white);
  cursor: not-allowed;
}

.btn--danger-loading {
  background-color: var(--color-critical-active);
  color: var(--color-white);
  cursor: not-allowed;
}