.btn--link {
    background-color: var(--color-white);
    color: var(--color-primary);
    text-decoration: none;

    .button-content {
        display: flex;
        .children-content {
            a{
                color: var(--color-primary) !important;
            }
        }

        svg {
            path {
                fill: var(--color-primary);
            }
        }
    }

    &:visited {
        color: var(--color-primary-active);
    }

    &:hover {
        color: var(--color-primary-active);
        text-decoration: underline;

        .button-content {
            .children-content {
                a{
                    color: var(--color-primary-active) !important;
                }
            }
        };

    }
    &.disabled {
        cursor: not-allowed;
        .button-content {
            .children-content{
                a{
                    color: var(--color-text-disable) !important;
                }
            }
      
            svg {
              path {
                fill: var(--color-text-disable);
              }
            }
          }
       
    }

    &.btn--sm {
        .button-content {
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            .children-content {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    &.btn--lg {
        .button-content {
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            .children-content {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}