.btn--icon { 
  &.btn--sm {
    height: 32px;
    width: 32px;
    padding: 8px;
    svg{
      width: 16px !important;
      height: 16px !important;
    }
  }


  &.btn--md {
    height: 40px;
    width: 40px;
    padding: 8px;
    svg{
      width: 24px !important;
      height: 24px !important;
    }
  }

  &.btn--lg {
    height: 48px;
    width: 48px;
    padding: 8px;
    svg{
      width: 32px !important;
      height: 32px !important;
    }
  }
}

.btn--icon-primary {
  background-color: var(--color-primary);
  color: var(--color-white);


  &:hover {
    background-color: var(--color-primary-hover) !important;
  }

  &:active {
    background-color: var(color-primary-active);
  }

  &:visited {
    color: var(--color-white);
  }


  &:focus {
    background-color: var(--color-primary-pressed);
    box-shadow: 0px 0px 0px 4px var(--color-primary-blur);
    
  }

  &.disabled {
    cursor: not-allowed;
    background-color: var(--color-bg-button-disable) !important;
    svg{
      path{
        fill: var(--color-icon-disable);
      }
    }
  }
}


.btn--icon-secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  svg{
    path{
      fill: var(--color-primary);
    }
  }

  &:hover {
    border: 1px solid var(--color-primary-pressed);
  }

  &:active {
    border: 1px solid var(--color-primary-pressed);
    svg{
      path{
        fill: var(--color-primary-active);
      }
    }
  }


  &:focus {
    border: 1px solid var(--color-primary-active);
    box-shadow: 0px 0px 0px 4px var(--color-primary-blur);
    svg{
      path{
        fill: var(--color-primary-active);
      }
    }
    
  }

  &.disabled {
    cursor: not-allowed;
    background-color: var(--color-bg-button-disable) !important;
    border: 1px solid var(--color-secondary);
    svg{
      path{
        fill: var(--color-icon-disable);
      }
    }
  }
}

.btn--icon-ghost {
  background-color: var(--color-white);
  border: 1px solid var(--color-secondary);
  svg{
    path{
      fill: var(--color-icon-disable);
    }
  }

  &:hover {
    border: 1px solid var(--color-primary-pressed);
    svg{
      path{
        fill: var(--color-primary);
      }
    }
  }

  &:active {
    border: 1px solid var(--color-primary-pressed);
    svg{
      path{
        fill: var(--color-primary-active);
      }
    }
  }


  &:focus {
    border: 1px solid var(--color-primary-active);
    box-shadow: 0px 0px 0px 4px var(--color-primary-blur);
    svg{
      path{
        fill: var(--color-primary-active);
      }
    }
    
  }

  &.disabled {
    cursor: not-allowed;
    background-color: var(--color-bg-button-disable) !important;
    border: 1px solid var(--color-secondary);
    svg{
      path{
        fill: var(--color-icon-disable);
      }
    }
  }
}

.btn--icon-primary-circle {
  background-color: var(--color-primary);
  color: var(--color-white);


  &:hover {
    background-color: var(--color-primary-hover) !important;
  }

  &:active {
    background-color: var(color-primary-active);
  }

  &:visited {
    color: var(--color-white);
  }


  &:focus {
    background-color: var(--color-primary-pressed);
    box-shadow: 0px 0px 0px 4px var(--color-primary-blur);
    
  }

  &.disabled {
    cursor: not-allowed;
    background-color: var(--color-bg-button-disable) !important;
    svg{
      path{
        fill: var(--color-icon-disable);
      }
    }
  }
  &.btn--sm {
    border-radius: 16px;
  }


  &.btn--md {
    border-radius: 24px;
  }

  &.btn--lg {
   border-radius: 32px;
  }
  
}

